.products{
  @extend .row;
  align-items:stretch;

}
.product-miniature{
  @extend .col-6;

}
@include media-breakpoint-desktop {
  .product-miniature{
    @include make-col(4);
  }

  .layout-full-width .product-miniature{
    @include make-col(3);
  }
}

@media (max-width: 320px) {
  .product-miniature{
    @include make-col(12);
  }
}

.products {
  .product-miniature {
    @include media-breakpoint-up(lg) {
      flex: 0 0 30%;
      max-width: 30%;
    }
    .card-product {
      padding: 10px 30px 40px;
      border: 3px solid $primary-color;
      border-radius: 4px;
      .card-body {
        padding: 0;
      }
    }
  }
}

.products .product-title a {
  font-size: 13px;
  color: inherit;
}

.slick-slide .product-miniature{
  max-width: 100%;
}
/* Product miniature*/
.card-product.card{
  height:100%;
  position: relative;
  background-color: $pm-bg-color;
  border-width: $pm-border-width;
  border-color: $pm-border-color;
  &:hover
  {
    .highlighted-informations{
      transform:translateY(0);
    }

  }

  .discount{
    display:none;
  }
}

.card-img-top {
  overflow: hidden;
  .product-thumbnail img{
    width: 100%;
  }

}

.highlighted-informations{
  position: absolute;
  bottom: 0;
  width:100%;
  background-color: $pm-highlight-bg-color;
  transform:translateY(100%);
  transition:transform .3s;
  .card-product:hover & {
    transform:translateY($pm-highlight-translateY);
  }
}
.quick-view{
  cursor:pointer;
}

.product-flags{
  position:absolute;
  top:0;
  margin-bottom: 0;
  z-index: 1;
  left:-$spacer/4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.page-content--product .product-flags{
  left:0;
}
.product-flag{
  top:0;
  margin-top: $spacer/2;
  padding: $spacer/4;
  color: #fff;
  background: theme-color('primary');
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,.2);

  &.discount-product{
    background: $tertiary;
  }
}
.color{
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0,.2);
  border: 1px solid rgba(0,0,0,.05);
  cursor: pointer;
  background-size: contain;
}

/* PRODUCT PAGE */

body#product {
  
  #content-wrapper {
    margin-top: 3rem
  }

  .product-title{
    font-size: 1.156rem;
    margin-bottom: .5rem;
    line-height: 1.1;
    word-break: break-word;
    color: #444;
    text-transform: capitalize;
    @include media-breakpoint-mobile() {
      margin-top: 1.5rem;
    }
  }
}

.product-actions {
  .row {
    margin-bottom: 0.5625rem;
  }
  label {
    color: #4c4c4c;
    font-weight: 700;
    font-size: 13px;
    margin: 0;
  }
}

#product-availability {
  .available,
  .not-available {
    padding: 12px 11px;
    font-size: 12px;
    border-radius: 5px;
    line-height: 1;
  }

  .available {
    background-color: #d6eed1;
    color: #458057;
    & > div {
      padding: 12px 11px;
      a {
        color: inherit;
        font-weight: 700;
      }
    }
  }

  .not-available {
    background-color: #F2DEDE;
    color: #a36d6d;
  }
}

.product-brand {
  font-size: 0.8125rem;
  a {
    color: #ff6000;
  }
}

.products-imagescover{
  box-shadow:$card-box-shadow;;
}
.product-img:not(:first-child) .rc {
  display: none;
}
.slick-initialized .product-img .rc{
  display: block;
}

.product-thumbs{
  width:$product-thumb-wrap-width;
  height: $product-thumb-wrap-height;
  margin:0 auto;
  &[data-count="2"]{
    width:$product-thumb-wrap-width-2;
  }
  .slick-slide > div{
    cursor: pointer;

  }
  &:not(.slick-initialized) > div:not(:first-child){
    display: none;
  }

}
.product-thumb{
  margin: $product-thumb-margin;
  //padding:5px;
  //height:  auto;
  width:$product-thumb-width;
  height:$product-thumb-height;
  border:2px solid transparent;
}
.btn-zoom{

  position: absolute;
  right: $spacer;
  bottom: $spacer;
  cursor: pointer;
  display: none;
  padding: 0;
  line-height: 1;
  & .material-icons{
  font-size: 3*$font-size-base;
  }
}
.images-container:hover .btn-zoom{
  display: block;
}
.label-color{
  line-height: 1;
  margin-right: $spacer/2;
}
.product-variants-item .color{
  width:2rem;
  height:2rem;
  border: 2px solid transparent;
}

.input-color:checked+span, .input-color:hover+span, .input-radio:checked+span, .input-radio:hover+span {
  border-color: $colorbox-border-color;
}

//product prices

.product-prices {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  p.price-title  {
    color: #bbb;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 2px;
  }

  .regular-price,
  .price-without-taxes {
    color: rgb(136, 136, 136);
    font-weight: 400;
    font-size: 1.1875rem;
    top: -5px;
    position: relative;
    @include media-breakpoint-mobile() {
      font-size: 0.8rem;
    }
  }

  .price {
    color: $primary-color;
    font-weight: 700;
    line-height: 1;
    .base {
      font-size: 2.75rem;
    }
    .decimals-sign {
      margin-left: -3px;
      font-size: 2rem;
    }

    @include media-breakpoint-mobile() {
      .base {
        font-size: 2rem;
      }
      .decimals-sign {
        font-size: 1.1rem;
      }
    }

  }

  span.discount {
    background: rgb(238, 65, 61);
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    padding: 0 3px;
    position: relative;
    top: -3px;
    font-weight: 400;
  }

  & > div {
    padding-right: 1.375rem;
  }
}

.product__product-price.has-discount{
  .current-price{
    display: inline-block;
  }
}

.regular-price{
  color:$product-price-regular-color;
  font-size:$product-price-regular-font-size;
  font-weight:$product-price-regular-font-weight;
  font-family: $product-price-regular-font-family;
  text-decoration: line-through;
}
.discount{
  text-transform: uppercase;
  color: #FFF;
  background-color: $product-price-discount-color;
  font-weight: 600;
  display: inline-block;
  padding: .25*$spacer;
}

//product add to cart
.btn-add-to-cart{
  //@extend .d-flex;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
}

//product tabs
.product-tabs{
  margin-top: 2rem;
  li {
    .nav-link{
      font-size: $font-size-base * .9;
      color: #818A91;
      &.active {
        color: #000 !important;
        font-weight: 900;
        border: none;
        border-bottom: 2px solid $primary-color;
      }
  }
  }
  //@extend .card;
  //@extend .card-block
  //box-shadow:$card-box-shadow;;
}
.card--reassurance{
  box-shadow:$card-box-shadow;;
}

// modal add to cart
.cart-content{
  padding: $spacer;
  background: theme-color('light');
}

//product pack
.pack-product-container{
  @extend .d-flex;
  @extend .justify-content-between;
  @extend .align-items-center;
  padding: 0 $spacer;
  font-size: $font-size-sm;
}
.mask{
  width: 55px;
}
.thumb-mask{
  padding: $spacer 0;
}
.pack-product__img{
  border: 1px solid $border-color;
}
.pack-product-name{
  @extend .flex-grow-1;
  @extend .mx-4;
}
.pack-product-quantity{
  border-left:1px solid $border-color;
}
.pack-product-price{
  padding-right: $spacer/2;

}
.pack-product-quantity{
  @extend .d-flex;
  @extend .align-items-center;
  @extend .align-self-stretch;
  padding-left: $spacer;
}

//modal cart
.modal-cart__image{
  margin-right: $spacer;
  max-width: 200px;

  height: auto;
}
.modal-cart__name{
  color: $primary;
  font-weight: $font-weight-bold;
}
.product-total{
  font-weight: $font-weight-bold;
}
.cart-content{
  > p:not(:last-child){
    margin-bottom: $spacer/2;
  }
}
@include media-breakpoint-mobile {
  .modal-cart__image{
    max-width: 120px;
  }
  .blockcart-modal {
    .divide-right{
      display: flex;
      justify-content: center;
    }
    .modal-footer {
      position: fixed;
      bottom: 0;
      background: #fff;
      justify-content: center;
      left: 0;
      width: 100%;
      box-shadow: 0px -0.25rem 0.5rem rgba($black, .15);
    }
    .modal-body{
      margin-bottom: ($btn-padding-y * 2) + ($btn-font-size*$btn-line-height) + $modal-inner-padding * 2;
    }
  }
}
@include media-breakpoint-down(xs) {
  .modal-cart__image{
    max-width: 70px;
  }
}
//spinner add to cart
.btn-add-to-cart {
  .btn-add-to-cart__spinner {
    @extend .spinner-border;
    width: $spinner-width-addtocart;
    height: $spinner-height-addtocart;
    border-width: $spinner-borderwidth-addtocart;
    display: none;
  }
  &.is--loading{
    .btn-add-to-cart__spinner {
      display: inline-block;
    }
    .btn-add-to-cart__icon {
      display: none;
    }
  }
}

.products-selection{
  justify-content: space-between;
  align-items: center; 
}
.pack-miniature-item{
  margin-bottom: $spacer / 2;
}
.ratio1_1{
  display: block;
}
.pack-product-name{
  margin: 0 $spacer * 1.5;
  flex-grow: 1;
}
.product-miniature{
  margin-bottom: $spacer ;
}
.product__card-img{
  position: relative;
}
.product__card-desc{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.highlighted-informations{
  text-align: center;
  padding: $spacer / 2;
}

.btn-add-to-cart{
  background: #fff !important;
  border: 2px solid #dcdcdc !important;
  height: 51px;
  text-align: center;
  color: #888 !important;
  max-width: 227px;
  font-size: 0.9375rem;
  text-transform: capitalize;
  padding: 10px;
  padding: 10px 18px;
  margin-top: 2rem;
  &:hover,
  &:focus {
    color: $primary-color !important;
  }
  i { 
    font-size: 1.45rem !important;
    float: left;
  }
}
.product-customization{
  margin-bottom: $spacer * 1.5;
}
.product-discounts{
  margin-bottom: $spacer * 1.5;
}
.product__quantity{
  margin-bottom: 0;
}
.sort-by-row{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.total__item-show{
  text-align: center;
  font-size: $font-size-sm;
  margin-top: $spacer;
}
.variant-links{
  display: flex;
  justify-content: center;
}
.product__download{
  text-transform: uppercase;
}
.card--address{
  height: 100%;
  text-align: center;
  justify-content: center;
}
.invoice__address{
  margin-top: $spacer;
}
.invoice-address{
  height: 100%;
  text-align: center;
  justify-content: center;
}
.nav-tabs{
  justify-content: flex-start;
}

.product-accessories {
  margin-top: 3rem;
}